indicators.log
cryptoalgotrading/funcs.py
cryptoalgotrading/extra.py
*.pyc
.vscode/*
figs/*
!figs/fig2_xrp.png
hist-5s/*
hist-10s/*
hist-30s/*
hist-1m/*
hist-5m/*
hist-10m/*
!hist-10m/BTC-SRN.csv
!hist-10m/BTC-XRP.csv
!hist-10s/BTC-DCT.hdf
!hist-10s/BTC-DGB.csv
scripts/*
data/*
cryptoalgotrading.egg-info/*
.eggs/*
.coverage
.coveralls.yml
*.ipynb
parallel.py
tmp/*
pypy*

