indicators.log
cryptoalgotrading/funcs.py
cryptoalgotrading/extra.py
*.pyc
.vscode/*
figs/*
!figs/fig2_xrp.png
hist-*
!hist-10s/BTC-XRP.csv
scripts/*
data/*
cryptoalgotrading.egg-info/*
.eggs/*
.coverage
.coveralls.yml
