backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
enum34==1.1.6
idna==2.7
influxdb==5.2.0
ipython==5.7.0
ipython-genutils==0.2.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.5
pandas==0.23.3
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.0
python-binance==0.7.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
subprocess32==3.5.2
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7