backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
binance~=0.3
certifi==2023.7.22
chardet==3.0.4
coverage
coveralls
cycler==0.10.0
decorator==4.3.0
enum34==1.1.6
idna==2.7
influxdb==5.2.0
ipython==8.10.0
ipython-genutils==0.2.0
kiwisolver==1.0.1
matplotlib==3.3.4
numpy==1.22.0
pandas==1.2.0
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit
ptyprocess==0.6.0
Pygments==2.15.0
pyparsing==2.2.0
python-binance==0.7.1
python-dateutil==2.7.3
pytz==2018.5
requests~=2.25.1
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
setuptools~=45.2.0
subprocess32==3.5.2
tables==3.6.1
traitlets==4.3.2
urllib3==1.26.18
wcwidth==0.1.7

